<p>index works!</p>
<!DOCTYPE html>
<html lang="th">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KMITL CE</title>
</head>
<body>

    <header>
        <p>สถาบันเทคโนโลยีพระจอมเกล้าเจ้าคุณทหารลาดกระบัง วิทยาเขตชุมพรเขตรอุดมศักดิ์</p>
        <a href="/login">เข้าสู่ระบบ</a>
    </header>

    
    <nav>
        <img src="img/logo.png" alt="Logo" >
        <p>KMITL CE</p>
        <a href="#">หน้าหลัก</a>
    </nav>
   <main>
    <div class="crop-container">
        <img src="img/university.jpg" alt="">
    
    </div>
   
    

   </main>
   
   


  

</body>
</html>
