<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="all">

   
    <div class="team">
        <img src="img/team.jpg" alt="" />
        <div>
            <h2>ทำไมต้องเรียน วศ.บ. วิศวกรรมคอมพิวเตอร์</h2>
            <p>มีความรู้ทางคณิตศาสตร์ วิทยาศาสตร์ <br>ที่เป็นพื้นฐานของวิศวกรรมคอมพิวเตอร์อย่างเพียงพอ และมีทักษะในการวิเคราะห์และออกแบบระบบงาน
                วิศวกรรมคอมพิวเตอร์ ทั้งด้านซอฟต์แวร์และฮาร์ดแวร์ โดยใช้ความรู้ทางทฤษฎีและเทคโนโลยีอันทันสมัย</p>
        </div>   
    </div>

    <div class="ta">
        <h1>ทำไมต้องเรียน วศ.บ. วิศวกรรมคอมพิวเตอร์ ที่ สจล. ชุมพร</h1>
        <p>ความรู้หรือทักษะที่บัณฑิตจะได้เมื่อสำเร็จการศึกษา<br>
            • มีความรู้ทางคณิตศาสตร์ วิทยาศาสตร์ ที่เป็นพื้นฐานของวิศวกรรมคอมพิวเตอร์อย่างเพียงพอ
            <br>
            • มีทักษะในการวิเคราะห์และออกแบบระบบงานวิศวกรรมคอมพิวเตอร์ ทั้งด้านซอฟต์แวร์และฮาร์ดแวร์
               โดยใช้ความรู้ทางทฤษฎีและเทคโนโลยีใหม่ๆ<br>
            • สามารถทำงานด้านวิศวกรรมคอมพิวเตอร์ทั้งบุคคล และเป็นสมาชิกของทีมงานได้เป็นอย่างดี<br>
            • พัฒนาตนเองให้มีความรู้และทักษะที่ทันสมัยอยู่เสมอ มีความเชื่อมั่นในการเรียนรู้ตลอดชีวิต<br>
            • มีทักษะในการสื่อสาร การนำเสนอ และการทำรายงานที่เหมาะกับผู้ฟัง<br>
            • มีความรับผิดชอบต่อสังคม ชุมชน และสิ่งแวดล้อม ดัวยความตระหนักในจริยธรรมทางวิชาชีพ</p>

    </div>
</div>
</body>
</html>
