* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* ป้องกันปัญหาขนาดของ element เกินจากที่กำหนด */
}
.cc {
    position: relative;
    background-color: #EEEEEE;
    padding-bottom: 10%;
}
.ce img {
    padding-top: 60px;
    width: 5%;
    height: 20%;
    margin-left: 48%;
}
.ce h1 {
    color: #D46518;
    font-family: 'Noto Sans Thai', sans-serif;
    font-size: 55px;
    text-align: center;
    margin-top: 2%;
}
.picture {
    display: flex;
    gap: 20px; 
    justify-content: center; 
    margin-top: 50px;
}
.picture img {
    width: 400px;
    height: 300px;
    object-fit: cover; 
    border-radius: 10px; 
}

@media (max-width: 1024px) and (min-width: 769px) {
    .ce img {
        width: 20%;
        height: auto;
        margin-left: 40%;
    }
    .ce h1 {
        font-size: 40px;
    }
    .picture {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px;
    }
    .picture img {
        width: 45%;
        height: auto;
    }
}

@media (max-width: 768px) {
    .ce img {
        width: 50%;
        height: auto;
        margin-left: 25%;
    }
    .ce h1 {
        font-size: 32px;
    }
    .picture {
        flex-direction: column;
        align-items: center;
    }
    .picture img {
        width: 90%;
        height: auto;
    }
}