<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>story</title>
</head>
<body>
    <div class="background-container">
        <div>
            <h1>วิศวกรรมคอมพิวเตอร์</h1> 
            <p>สถาบันเทคโนโลยีพระจอมเกล้าเจ้าคุณทหารลาดกระบัง วิทยาเขตชุมพรเขตรอุดมศักดิ์ </p>
            <button class="white-button" (click)="onScrollToPicture()">CE Story</button>
        </div>
    </div>
</body>
</html>
